<div class="post">
  <div class="head-contents">
    <div class="title">
      <span>title</span></div>
    <div class="user">user</div>
    <div class="date">date</div>
  </div>
  <div class="text">text</div>
  <div class="image">image</div>
  <div class="links">
    <div class="tag">#tag</div>
    <div class="edit">edit</div>
    <div class="delete">delete</div>
  </div>
  <div class="foot-contents">
    <div class="comment">comment</div>
    <div class="write">write</div>
    <div class="like">like</div>
  </div>
</div>

<div class="post">
  <div class="head-contents">
    <div class="title">
      <span>title</span></div>
    <div class="user">user</div>
    <div class="date">date</div>
  </div>
  <div class="text">text</div>
  <div class="image">image</div>
  <div class="links">
    <div class="tag">#tag</div>
    <div class="edit">edit</div>
    <div class="delete">delete</div>
  </div>
  <div class="foot-contents">
    <div class="comment">comment</div>
    <div class="write">write</div>
    <div class="like">like</div>
  </div>
</div>